@import "tailwindcss";

@font-face {
  font-family: "Young Serif";
  src: url("/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weights: 400 700;
}

@theme {
  --color-fm-white: hsl(0, 0%, 100%);

  --color-fm-stone-100: hsl(30, 54%, 90%);
  --color-fm-stone-150: hsl(30, 18%, 87%);
  --color-fm-stone-600: hsl(30, 10%, 34%);
  --color-fm-stone-900: hsl(24, 5%, 18%);

  --color-fm-brown-800: hsl(14, 45%, 36%);

  --color-fm-rose-800: hsl(332, 51%, 32%);
  --color-fm-rose-50: hsl(330, 100%, 98%);

  --font-outfit: "Outfit", sans serif;
  --font-young-serif: "Young Serif", serif;
}

@layer components {
  .base-layout {
    --max-width: 1180px;
    --padding: 32px;

    display: grid;
    grid-template-columns:
      minmax(var(--padding), 1fr)
      min(var(--max-width), 100% - var(--padding) * 2)
      minmax(var(--padding), 1fr);

    row-gap: 36px;

    & > * {
      grid-column: 2 / 3;
    }

    & > .full-width {
      grid-column: 1 / -1;
    }
  }
}
