---
import "@styles/global.css";
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.svg" />

    <title>Frontend Mentor | Recipe page</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <h1 class="text-5xl">Astro</h1>
  </body>
</html>
