---
import "@styles/global.css";
import { Image } from "astro:assets";
import headerImg from "@images/image-omelette.jpeg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />

    <title>Frontend Mentor | Recipe page</title>
  </head>
  <body class="font-outfit text-fm-stone-600 bg-fm-stone-100">
    <main class="@container">
      <article
        class="base-layout bg-fm-white mx-auto max-w-[736px] @[736px]:rounded-3xl @sm:py-10"
      >
        <Image
          src={headerImg}
          alt={"picture of an omelette"}
          class:list={"full-width mx-auto @sm:col-start-2 @sm:col-end-3 @sm:rounded-xl"}
        />
        <section>
          <h1 class="font-young-serif text-fm-stone-900 mb-6 text-4xl">
            Simple Omelette Recipe
          </h1>
          <p>
            An easy and quick dish, perfect for any meal. This classic omelette
            combines beaten eggs cooked to perfection, optionally filled with
            your choice of cheese, vegetables, or meats.
          </p>
        </section>
        <section class="bg-fm-rose-50 rose-colored rounded-xl p-6">
          <h2 class="text-fm-rose-800 mb-4 text-xl font-bold">
            Preparation time
          </h2>
          <ul>
            <li>
              <span><strong>Total:</strong> Approximately 10 minutes</span>
            </li>
            <li><span><strong>Preparation:</strong> 5 minutes</span></li>
            <li><span><strong>Cooking:</strong> 5 minutes</span></li>
          </ul>
        </section>

        <section class="border-b-fm-stone-150 border-b pb-8">
          <h2 class="font-young-serif text-fm-brown-800 mb-4 text-2xl">
            Ingredients
          </h2>
          <ul>
            <li>2-3 large eggs</li>
            <li>Salt, to taste</li>
            <li>Pepper, to taste</li>
            <li>1 tablespoon of butter or oil</li>
            <li>
              Optional fillings: cheese, diced vegetables, cooked meats, herbs
            </li>
          </ul>
        </section>

        <section class="border-b-fm-stone-150 border-b pb-8">
          <h2 class="font-young-serif text-fm-brown-800 mb-4 text-2xl">
            Instructions
          </h2>
          <ol>
            <li>
              <span>
                <strong>Beat the eggs:</strong> In a bowl, beat the eggs with a pinch
                of salt and pepper until they are well mixed. You can add a tablespoon
                of water or milk for a fluffier texture.
              </span>
            </li>
            <li>
              <span>
                <strong>Heat the pan:</strong> Place a non-stick frying pan over
                medium heat and add butter or oil.
              </span>
            </li>
            <li>
              <span>
                <strong>Cook the omelette:</strong> Once the butter is melted and
                bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly
                coat the surface.
              </span>
            </li>
            <li>
              <span>
                <strong>Add fillings (optional):</strong> When the eggs begin to
                set at the edges but are still slightly runny in the middle, sprinkle
                your chosen fillings over one half of the omelette.
              </span>
            </li>
            <li>
              <span>
                <strong>Fold and serve:</strong> As the omelette continues to cook,
                carefully lift one edge and fold it over the fillings. Let it cook
                for another minute, then slide it onto a plate.
              </span>
            </li>
            <li>
              <span
                ><strong>Enjoy:</strong> Serve hot, with additional salt and pepper
                if needed.</span
              >
            </li>
          </ol>
        </section>

        <section>
          <h2 class="font-young-serif text-fm-brown-800 mb-4 text-2xl">
            Nutrition
          </h2>
          <p>
            The table below shows nutritional values per serving without the
            additional fillings.
          </p>
          <table class="w-full">
            <tbody class="">
              <tr
                class="border-fm-stone-150 grid h-full w-full grid-cols-2 border-b py-4"
              >
                <td class="pl-8">Calories</td>
                <td class="text-fm-brown-800 font-bold">277kcal</td>
              </tr>
              <tr
                class="border-fm-stone-150 grid h-full w-full grid-cols-2 border-b py-4"
              >
                <td class="pl-8">Carbs</td>
                <td class="text-fm-brown-800 font-bold">0g</td>
              </tr>
              <tr
                class="border-fm-stone-150 grid h-full w-full grid-cols-2 border-b py-4"
              >
                <td class="pl-8">Protein</td>
                <td class="text-fm-brown-800 font-bold">20g</td>
              </tr>
              <tr
                class="border-fm-stone-150 grid h-full w-full grid-cols-2 py-4"
              >
                <td class="pl-8">Fat</td>
                <td class="text-fm-brown-800 font-bold">22g</td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>

      <footer class="base-layout text-fm-rose-800 my-10">
        <div class="mx-auto">
          Challenge by
          <a
            href="https://www.frontendmentor.io?ref=challenge"
            target="_blank"
            class="underline">Frontend Mentor</a
          >. Coded by <a href="https://github.com/tmykkanen" class="underline"
            >Tyler Mykkanen</a
          >.
        </div>
      </footer>
    </main>
  </body>
</html>

<style>
  @reference '@styles/global.css';

  /* https://css-tricks.com/styling-counters-in-css/ */
  /*  */
  ul > li {
    @apply flex items-center;
    /* display: flex; */
    /* align-items: center; */
  }
  ul > li::before {
    content: "•";
    @apply text-fm-brown-800 mr-6 ml-2 text-2xl;
    /* font-size: 24px; */
    /* color: var(--color-fm-brown-800); */
    /* margin-right: 10px; */
  }

  .rose-colored > ul > li::before {
    @apply text-fm-rose-800;
  }
  ol {
    counter-reset: item;
  }
  ol > li {
    counter-increment: item;
    @apply mb-2 flex;
    /* display: flex; */
  }
  ol > li::before {
    content: counter(item) ".";
    @apply text-fm-brown-800 mr-6 ml-2 font-bold;
    /* margin-right: 10px; */
    /* color: var(--color-fm-brown-800); */
    /* font-weight: 900; */
  }
</style>
